body { 
    margin: 0; 
    background-color: #2f5577; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
    font-family: 'Segoe UI', sans-serif;
}

#main-content { 
    flex-grow: 1; 
    overflow-y: auto; 
    padding: 15px;
}

/* Scroll personalizado para la tabla de paros */
.scroll-paros::-webkit-scrollbar { width: 4px; }
.scroll-paros::-webkit-scrollbar-thumb { background: #da291c; border-radius: 10px; }
