/* estilos.css */
#cardas-grid::-webkit-scrollbar { 
    height: 10px; 
}
#cardas-grid::-webkit-scrollbar-track { 
    background: rgba(0,0,0,0.2); 
    border-radius: 5px;
}
#cardas-grid::-webkit-scrollbar-thumb { 
    background: #f9b218; 
    border-radius: 5px;
    border: 2px solid #2f5577;
}

#maquinas-paradas-scroll::-webkit-scrollbar, #accidentes-scroll::-webkit-scrollbar { 
    width: 6px; 
}
#maquinas-paradas-scroll::-webkit-scrollbar-thumb, #accidentes-scroll::-webkit-scrollbar-thumb { 
    background: rgba(255,255,255,0.2); 
    border-radius: 3px; 
}
