body {
    margin: 0;
    background-color: #2f5577;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#header-container, #estatus-container { width: 100%; flex-shrink: 0; }
#main-content { flex-grow: 1; }
