body {
    margin: 0;
    background-color: #2f5577;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#header-lib, #estatus-lib { width: 100%; flex-shrink: 0; }
#cardas-lib { flex-grow: 1; overflow-y: auto; }
